---
BasedOnStyle: Google
IndentWidth: 4
---
Language: Cpp
BreakBeforeBraces: Allman
ColumnLimit: 120
CommentPragmas:  '^\\.+'
CommentPragmas:  '^\@.+'
AllowShortFunctionsOnASingleLine: false
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Right
IncludeBlocks: Preserve
